aircv==1.4.5
futures==3.0.5
tornado>=4.4
maproxy==0.0.12
subprocess32==3.2.7 ; python_version <= '2.7'
tqdm==4.5.0
PyYAML==3.11
numpy>=1.11.0
Pillow>=2.7.0
requests>=2.9.1
facebook-wda==0.1.1.dev1
atx-androguard==3.0
atx-uiautomator==0.2.12.dev3
imageio==1.5
colorama==0.3.7
